.toggleButton {
    background:white;
    color: rgba(57,180,167,1) !important;
    border-color: rgba(57,180,167,1) !important;
    margin-left: 19px;
    min-width: 250px;
}


.toggleButton:hover, .toggleButton:focus-within {
    background-color: rgba(57,180,167,1) !important;
    color: white !important;
  }
  


/* .toggleCard {

} */

/* .toggleText {
    
} */

.toggleCardOuter {
    max-height: 500px;
    overflow: scroll;
}