/* .teachCardContainer {
    margin-top: 25%;
    margin-bottom: 5%;
} */


.cardThumb {
    /* width: 150px !important;
    height: 100px !important;
    margin: 10px; */
    width: 100%;
    min-width: 80px;
    height: auto;
    margin: 3%;
    margin-bottom: 3% !important;
}

.cardText {
    text-align: center;
}

.vertCenter{
    bottom: 50%;
    position: absolute;
}

.cardContainer{
    margin: 10px;
}

.cardBtn{
    bottom:0;
    position:absolute;
    /* width:75px; */
    width:100%
}
