.cardThumb {
    width: 150px !important;
    height: 100px !important;
    margin: 10px;
}

.cardText {
    text-align: center;
}

.vertCenter{
    bottom: 50%;
    position: absolute;
}

.cardContainer{
    margin: 10px;
}

.cardBtn{
    bottom:0;
    position:absolute;
    width:75px;
}
