.teacherImage{
    margin: 0 auto;
    border-radius: 4px;
}

.profileImage {
    border-radius: 4px;
    width: 150px;
}

.proPicCol{
    border-right: solid;
    border-width: thin;
    border-color: rgba(190, 190, 190, 0.63);
}

@media (max-width: 768px) {
    .proPicCol{
        border: none;
    }
}

.mailIcon{
    /* vertical-align: middle !important; */
    /* text-align: center !important; */
}

.profileCardRow{
        margin-top: -40px !important;
        padding-top: 40px !important;
        background: rgb(236,236,236);
        background: -moz-linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
        background: -webkit-linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
        background: linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#36cbbb",GradientType=1);
    }

.profileIcons {
    border: 1px solid #dedede;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0px 2px 4px #d4d4d4;
    margin-top: 15px;
    color: #808080;
    text-align: center;
}
