
.sideCard{
    
    width: 100%;
    height: 75%;
    /* position: absolute; */
    overflow: auto;
    /* margin-bottom: 100px !important; */
    /* border: 3px solid black */
    /* margin-top: 10; */
    /* padding-bottom: -20px; */
    border-radius: 25px;
    /* border-top-right-radius: 25px; */


}

.sideBody {
    overflow: scroll;
    overflow-x: hidden;
    height: 1px;
}


.topSpace {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #30DAC7;
    color: white;
    margin-bottom: 0px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

  
}

.messageRow {
    height: 80%;
    width: 100%;
    position: relative;
    /* overflow: scroll; */
}

.messageCOL {
    height: 850px;
}

.mainMessageCard {
    min-height: 60%;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5%;
    /* margin-left: -190px; */
    border-radius: 25px;
    /* overflow: scroll; */
    max-height: 60%;
}

.messageText {
    width: 50%;
    margin-left: 20%;
}

.messageText:active, .messageText:focus, messageText:hover {
    /* border-color: white !important;
    border: 3px dashed white */
    /* border-color: white; */
}
#messageID {
    width: 99%
}

/* .form-control:active, .form-control:focus {
    border-color: grey;
    box-shadow: blueviolet;
} */

/* .form-control:focus {
    border-color: #ff80ff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075) inset, 0px 0px 412px rgba(255, 100, 255, 0.5);
} */

.cardPaddingMargin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: #ececec;
}

.received {
    min-height: 50px !important;
    /* width: 50%; */
    margin-right: 54%;
    margin-left: 2%;
    text-align: center;
    vertical-align: middle !important;
    border-right-style: 20%;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    background-color: #ececec;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    /* border-color: ; */
}

.sent{
    min-height: 50px !important;
    /* width: 50%; */
    margin-left: 54%;
    margin-right: 2%;
    text-align: center;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    background-color: #30DAC7;
    color: white;
    /* border-radius: 50%; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

/* .sideBody::-webkit-scrollbar {
    width: .75em;
  }
   
  .sideBody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
   
  .sideBody::-webkit-scrollbar-thumb {
    background-color: #30DAC7;
    outline: 1px solid slategrey;
    border-radius: 8px;
    /* display: none; */


#messagePageHeight {
    max-height: 250vh !important;
    overflow: hidden;

    
}

.messageTextArea {
    overflow: scroll;
    overflow-x: hidden;
}

@media (max-width: 576px) {
    .messageCOL {
        max-height: 250px !important;
    }

    .mainMessageCard {
        min-height: 250px;
    }

    .formBottom {
        margin-left:0px ;
        margin-top: 0;
        margin-bottom: 120px;
        min-width: 500px;
        max-height: 30px
    }
    #messageID {
        margin-left: -90px !important;
        min-width: 220px;
        margin-right: 20px !important;


    }
    #submitMessage {
        display: block;
        margin-top: -16px !important;
        margin-left: -80px;
    }

    .messageTextArea {
        max-height: 400px;
        min-height: 300px;
        overflow: scroll;
        overflow-x: hidden;
    }

    /* .messageText {
        display: block;
    } */

    .sent {
        margin-left: 30%;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
     
    .received {
        margin-right: 30%;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
}