.signupCard {
    margin: 10%;
    margin-bottom: 120px !important;
}

.signupTitle {
    padding-top: 2em;
}

.signupLine {
    margin-left: 2em;
    margin-right: 2em;

}

/* .hrefColor {
    color: rgba(40,120,111,1) !important;
}

.hrefColor:hover {
    color: teal;
} */