.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20%
}

.teacherThumbnails {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.placeholderThumbnails {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.cardThumb {

    width: 100%;
    min-width: 80px;
    height: auto;
}

.cardText {
    text-align: center;
}

.vertCenter{
    bottom: 50%;
    position: absolute;
}

.cardContainer{
    margin: 10px;
}


.cardInfo {
    vertical-align: middle;
    margin-top: 50% 
}

.cardBtn {
    margin-top: 0;
}



  .teacherTableName{
      color: rgba(57,180,167,1);
      font-weight: bold;
  }

  .teacherTableName:hover{
      color: rgba(40,120,111,1)
  }