.footer {
   /* position: fixed; */
   bottom: 0;
   width: 100%;
   background-color: white !important;
   border-bottom: solid;
   border-width: 1px;
   border-color: #ECECEC;
   /* margin-bottom: 0px !important;
   padding-bottom: 0px !important; */

}

a.contactLink.nav-link {
    color: #30DAC7;
    text-align: left;
   
}

a.contactLink.nav-link:hover {
    color: #117840;
}
