.carouselImg{
    max-width: 640px !important;
    max-height: 427px !important;
}

.legend {
    /* background-color: #ececec !important; */
    /* color: #39b4a7 !important; */
    background-color: grey !important;

}