.topNav {
    margin-bottom: 90px;
}

.logo{
    width: 25px;
    height: 25px;
}

.teach{
    color: #30DAC7;
}

.pod {
    color: #117840;
}

.headerNav {
   background-color: white !important;
   border-bottom: solid;
   border-width: 1px;
   border-color: #ECECEC;
}

.dropdown-item:focus, .dropdown-item:active {
    background: none;
    outline: none;
    color: black
}