.contactIcons {
    font-weight: bold;
    font-size: larger;
}

.contactRowSize {
        /* height: 860px;
    width: 103%;
    overflow: hidden; */
}

.smallCard {
    margin-bottom: 200px;
}

.smallCardHeight {
    margin-bottom: 100px;
    /* padding-bottom: 200px; */
}


.borderBottom {
    border-bottom: solid rgba(57,180,167,1) 2px;
}

.borderTop {
    border-top: solid rgba(57,180,167,1) 2px;
}

.borderSide {
    border-left: solid rgba(57,180,167,1) 2px;
    border-right: solid rgba(57,180,167,1) 2px;
}

