.loginCard {
    margin: 10%;
    margin-bottom: 120px !important;
}

.loginTitle {
    padding-top: 2em;
}

.line {
    margin-left: 2em;
    margin-right: 2em;

}

/* 
.loginRowSize{
    overflow: hidden;
    text-align: center;
}
 */


 