.carousel{
    max-width: 640px !important;
    max-height: 427px !important;
}

.thumb {
    display: none !important;
}

.control-dots{
    display: none !important;
}

.control-arrow{
    display: none !important;
}

.carousel-status{
    display: none !important;
}

.pod {
    color: #117840;
}

.podSearchForm{
    padding: 15px;
}
