.carousel{
    max-width: 640px !important;
    max-height: 427px !important;
}

.thumb {
    display: none !important;
}

.control-dots{
    display: none !important;
}

.control-arrow{
    display: none !important;
}

.carousel-status{
    display: none !important;
}

.pod {
    color: rgba(57,180,167,1);
}

.podSearchForm{
    padding: 15px;
}

.searchArea{
    margin-top: -40px;
    padding-top: 40px;
    background: rgb(236,236,236);
    background: -moz-linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
    background: -webkit-linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
    background: linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#36cbbb",GradientType=1);
}

.searchAreaSmall{
    min-width: 600px;
    margin-top: -40px;
    padding-top: 40px;
    background: rgb(236,236,236);
    background: -moz-linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
    background: -webkit-linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
    background: linear-gradient(135deg, rgba(236,236,236,1) 50%, rgba(57,180,167,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#36cbbb",GradientType=1);
}

  